@page "/login"
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthProvider

<h3>Logowanie</h3>

@if (isAuthenticated)
{
    <p>Witaj, @username! Jesteś zalogowany.</p>
}
else
{
    <p>Użytkownik nie istnieje w systemie. Skontaktuj się z administratorem, aby dodać swój login domenowy.</p>
}

@code {
    private bool isAuthenticated;
    private string username;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        isAuthenticated = user.Identity?.IsAuthenticated ?? false;
        username = user.Identity?.Name ?? "Anonimowy";


    }
}